body {  
 background-image: url(imagenes-iconos/fondo.jpg);
 no-repeat; 
 background-size: 100% 100%;
 margin: auto;
 width: 50%;
 display: block;
 text-align: center;
}
 
.overflow{
 clear: both;
}

.nav {
 padding: 0px;
 margin: auto;
 display: block;
}
 
#header {
 font-family:Arial, Helvetica, sans-serif;
}
 
ul, ol {
 list-style:none;
}
 
.lema{
 text-align: center;
}

.icono{
 display: block;
 margin: auto;
}

.creditos{
 font-size: 12px;
 color: black;
 text-align: center;
}

 /*afectara a todo lo que tenga class="nav"*/
 .nav li a,span {
 background-color: #000;
 color:#fff;
 text-decoration:none;
 padding: 10px 18px;
 display:block;
 border: 2px solid #ccc;
 }
 
 /*color al pasar mouse encima*/
 .nav li a:hover {
 background-color:#434343;
 text-align: center;
 }
 
 .nav > li {
 float: left;
 }
 
 /*ccuando no esta el mouse ensima desparece*/
 .nav li ul {
	 display:none;
	 position:absolute;
	 min-width:140px;
 }
 
 /*aparescan submenus al pasar el mouse */
 .nav li:hover > ul {
	 display:block;
 }
 /*aparescan los submenus de los submenus a la derecha */
 .nav li ul li ul {
	 position:relative;
 }
 
 .nav li ul li ul {
	 right:-140px;
	 top:0px;
 }

