body {
 background: url(csswiki/muro.jpg);
 color: black;
 width: 70%;
 margin: auto; 
 flex-wrap: wrap;
 padding-bottom: 20px;
 font-family: arial;
}

h3{
 font-size: 25px;
}

.sumario{
 text-align: center;
}

.sumarioa{
 color: black;
 text-decoration: none;
 font-weight: bold;
}

.sumarioa:hover{
 color: red;
}

table{
 margin: auto;
}

.foto{
 width: 200px;
 margin: auto;
 display: block;
}

.infofoto{
 font-weight: bold;
 color: #808080;
 text-align: center;
 font-size: 10px;
}

.fondo{
 background-color: #ccffe6;
 padding: 20px;
 margin-top: 20px;
}

a{
 color: #404040;
 text-decoration: none;
 font-weight: bold;
}

a:hover{
 color: red;
}
